@import '../../Assets/Style/variables';

.interview-form-label {
    padding-bottom: 5px;
    cursor: pointer;
    width: fit-content;
    font-size: 14px;
    color: #445774;
}

.interview-important {
    color: $red-color !important;
    display: inline-block !important;
}

.interview-info {
    float: right;
    margin-right: 5px;
    color: #b2bfd2;
}

.interview-errorMessage {
    font-size: 12px;
    height: 20px;
    padding-top: 5px;
    width: fit-content;
    color: red;
    margin-bottom: 0;
}